<!-- views/partials/footer.ejs -->

   <ul class="menu-bar">
                <li class="menu-item title">
                    <a href="splash.html">Terms of Use</a>
                </li>
                <li class="menu-item link">
                    <a href="">Privacy Policy</a>
                </li>
                <li class="menu-item link">
                    <a href="">Contact</a>
                </li>
                <li class="menu-item link">
                    <a href="">Press</a>
                </li>
                <li class="menu-item link">
                    <a href="">Jobs</a>
                </li>
            </ul>